@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

* {
  background-color: black;
  color: white;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.name {
  font-weight: 800;
}
.navbar {
  text-align: center;
  display: flex;
  justify-content: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.link-delete {
  text-decoration: none;
  background-color: transparent;
  background-color: transparent;
  text-align: left;
  margin: 0;
  font-size: 0.5rem;
  color: #c5c5c5;
  font-weight: 800;
}
.link {
  padding: 1rem;
  text-decoration: none;
  background-color: transparent;
  background-color: transparent;
  text-align: left;
}
.nav-item {
  margin: 2vh 2vw 2vh 2vw;
  align-items: center;
  cursor: pointer;
}

.introduction {
  text-align: center;
}
.avatar {
  margin-top: 10vh;
  border-radius: 50%;
  height: 35vh;
  width: 35vh;
  object-fit: cover;
}
.tagline {
  font-size: 5vh;
  font-weight: 600;
}
.gradient {
  background: -webkit-linear-gradient(#33ccff, #ff99cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.description {
  color: #c5c5c5;
}
.get-in-touch-btn {
  padding: 12px;
  height: 5vh;
  background-color: white;
  border: none;
  color: black;
  border-radius: 22.4px;
  font-weight: 600;
  font-size: 1rem;
  padding: 0.5vw;
  margin: 2vw;
}
.resume-btn {
  padding: 0.5vw;

  height: 5vh;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 22.4px;
  font-weight: 600;
  font-size: 1rem;
  margin: 2vw;
}
.experience {
  text-align: center;
}
.title {
  font-size: 1rem;
  color: #c5c5c5;
  font-weight: 700;
}
.langauges {
  text-align: center;
}
.experience-logo {
  width: 5vw;
  height: 10vh;
  margin: 0.5vw;
}
.projects {
  text-align: center;
}
.title-project {
  font-weight: 800;
  font-size: 1.2rem;
  background: -webkit-linear-gradient(#ff8660, #d5491d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.row {
  display: flex;
  justify-content: center;
}
.card {
  width: 30vw;
  height: 40vh;
  background-color: #2a2a2a;
  margin: 2vw;
  border-radius: 22.4px;
}
.logo-project {
  width: 30vw;
  height: 30vh;
  object-fit: fit;
  border-radius: 22.4px 22.4px 0 0;
}
.project-link {
  background-color: transparent;
  text-align: left;
  margin-left: 2vw;
  font-size: 0.7rem;
  color: #c5c5c5;
  font-weight: 800;
}
.project-name {
  background-color: transparent;
  text-align: left;
  margin-left: 2vw;
  font-size: 0.5rem;
  margin-top: 0.1vw;
  font-weight: 800;
}
@media (min-width: 576px) {
  .link-delete {
    font-size: 0.8vw;
  }
  .title {
    font-size: 2.5vw;
  }
  .title-project {
    font-size: 1.2vw;
  }

  .project-name {
    font-size: 1.2vw;
  }
}
